import { BrowserRouter as Router, Routes, Route } from 'react-router-dom';
{% for page in pages %}
import {{page.name}} from './pages/{{page.name}}';
{% endfor %}

function App(){
    return(
        <Router>
            <Routes>
                {% for page in pages %}
                <Route exact path="/{{page.name}}" element={<{{page.name}} /> }/>
                {% endfor %}
            </Routes>
        </Router>
    );
}

export default App;